.projects{

padding:

140px 20px;

position:

relative;

}

.projects-container{

max-width:

1300px;

margin:auto;

}

.projects-label{

color:

var(--primary);

font-weight:

700;

letter-spacing:

.25em;

margin-bottom:

18px;

}

.projects h2{

font-size:

clamp(
2.8rem,
6vw,
4.5rem
);

line-height:

1.1;

margin-bottom:

22px;

max-width:

700px;

}

.projects-description{

color:

var(--text-secondary);

font-size:

18px;

max-width:

600px;

margin-bottom:

70px;

}

.projects-grid{

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(
330px,
1fr
)
);

gap:

28px;

}

.project-card{

background:

rgba(
255,
255,
255,
.03
);

border:

1px solid
rgba(
255,
255,
255,
.06
);

border-radius:

28px;

overflow:

hidden;

backdrop-filter:

blur(
18px
);

transition:

all .35s ease;

}

.project-card:hover{

transform:

translateY(
-10px
);

border-color:

rgba(
139,
92,
246,
.28
);

box-shadow:

0 0 40px
rgba(
139,
92,
246,
.15
);

}

.project-image{

position:

relative;

height:

280px;

overflow:

hidden;

}

.preview-project{

object-fit:

cover;

transition:

.5s;

}

.project-card:hover
.preview-project{

transform:

scale(
1.04
);

}

.project-content{

padding:

28px;

}

.project-status{

display:

inline-block;

margin-bottom:

14px;

padding:

8px 14px;

border-radius:

999px;

background:

rgba(
139,
92,
246,
.12
);

color:

var(--primary);

font-size:

13px;

}

.project-content h3{

font-size:

26px;

margin-bottom:

14px;

}

.project-content p{

line-height:

1.8;

color:

var(
--text-secondary
);

margin-bottom:

22px;

}

.project-stack{

display:flex;

gap:

10px;

flex-wrap:

wrap;

margin-bottom:

26px;

}

.project-stack span{

padding:

8px 14px;

border-radius:

999px;

background:

rgba(
255,
255,
255,
.05
);

font-size:

13px;

}

.project-link{

text-decoration:

none;

color:

var(--primary);

font-weight:

700;

}

@media(
max-width:768px
){

.projects{

padding:

100px 20px;

}

.projects-grid{

grid-template-columns:

1fr;

}

}

.project-company{

color:#8B5CF6;

font-weight:600;

font-size:.95rem;

margin-top:12px;

opacity:.95;

}